<footer class="footer mt-5">
  <div class="container d-flex justify-content-around">
    <section class="contato d-flex flex-column justify-content-center">
      <h4 class="pt-4 mb-4">Contato</h4>
      <div class="my-2">
        <i class="bi bi-whatsapp"></i>
        <span>Whatsapp <strong>(11) 98647-1542</strong></span>
      </div>
      <div class="my-2">
        <i class="bi bi-instagram"></i>
        <span>Instragram <strong>@emporiodolaser</strong></span>
      </div>
      <div class="mt-2 pb-5">
        <i class="bi bi-pin-map"></i>
        <span>Endereço <strong>Rua Barena 7E, Sala 2, Itaim Paulista, São Paulo - SP</strong></span>
      </div>
    </section>

    <section class="pague-com section-mobile-screen">
      <h4 class="pt-4 mb-4">Pague com</h4>
      <div class="d-flex mobile-screen">
        <div class="d-flex">
          <div>  
            <img src="https://img.icons8.com/color/48/000000/visa.png" />
          </div>
          <div>  
            <img src="https://img.icons8.com/color/48/000000/mastercard.png" />
          </div>
          <div>  
            <img src="https://img.icons8.com/color/48/000000/amex.png" />
          </div>
        </div>
        <div class="d-flex">
          <div class="d-flex align-items-center">  
            <img class="boleto" src="https://img.icons8.com/color/48/000000/boleto-bankario.png" />
          </div>
          <div class="d-flex align-items-center img-footer-margin">  
            <img class="picpay" src="https://logodownload.org/wp-content/uploads/2018/05/picpay-logo-2.png" />
          </div>
        </div>
      </div>
      <h4 class="mt-2 mb-4">Selos</h4>
      <div class="d-flex pb-5  mobile-screen align-items-center">
        <img class="safe1 img-footer-margin" src="/img/safe1.png" alt="safe" />
        <img class="safe2 img-footer-margin" src="/img/safe2.png" alt="safe google" />
      </div>
    </section>
  </div>
</footer>
</body>
</html>