<div class="col-sm px-3">
  <h4>Cadastrar Endereço</h4>
  <hr class="mb-3" />

  <form class="m-w-800" method="post" action="/usuarios/cadastrar-endereco">
    <div class="row g-3 mb-2">
      <div class="col-sm">
        <label class="copy-h6-format text-white">Destinatário</label>
        <input type="text" name="destinatario" class="form-control" placeholder="Ex: Minha Casa" />
      </div>
    </div>

    <div class="row g-3 mb-2">
      <div class="col-sm-9">
        <label class="copy-h6-format text-white">Rua</label>
        <input type="text" name="rua" class="form-control" placeholder="Ex: Rua Tuiuti" />
      </div>
      <div class="col-sm">
        <label class="copy-h6-format text-white">Nº</label>
        <input type="number" name="numero" class="form-control" placeholder="Ex: 50" />
      </div>
    </div>

    <div class="row g-3 mb-2">
      <div class="col-sm">
        <label class="copy-h6-format text-white">Complemento</label>
        <input type="text" name="complemento" class="form-control" placeholder="Ex: apto. 35" />
      </div>
      <div class="col-sm">
        <label class="copy-h6-format text-white">Bairro</label>
        <input type="text" name="bairro" class="form-control" placeholder="Ex: Tatuapé" />
      </div>
    </div>

    <div class="row g-3 mb-2">
      <div class="col-sm">
        <label class="copy-h6-format text-white">Cidade</label>
        <input type="text" name="cidade" class="form-control" placeholder="Ex: São Paulo" aria-label="City" />
      </div>
    </div>

    <div class="row g-3 mb-4">
      <div class="col-sm">
        <label class="copy-h6-format text-white">Estado</label>
        <input type="text" name="estado" class="form-control" placeholder="Ex: SP" aria-label="State" />
      </div>
      <div class="col-sm">
        <label class="copy-h6-format text-white">Cep</label>
        <input type="text" name="cep" class="form-control cep" placeholder="Ex: 00000-000" aria-label="Zip" />
      </div>
    </div>

    <%- include('components/error-alert', {error}) %>

    <button class="btn btn-primary" type="submit">Salvar</button>
  </form>
</div>
