<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="img-fluid rounded-circle logo" src="https://mcusercontent.com/d0e529ea82f3a7735f7620fce/images/283e11f1-f181-2e78-395d-3bedb56ff380.jpeg" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Início</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Produtos </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Cakeboards</a></li>
            <li><a class="dropdown-item" href="#">Caixas Cenário</a></li>
            <li><a class="dropdown-item" href="#">Topos de Bolo</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre Nós</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contato/SAC</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Minha Conta</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Procurar" aria-label="Search" />
        <button class="btn btn-outline-success" type="submit">Procurar</button>
      </form>

      <li class="nav-item me-4 ms-5">
        <a href="#" class="r-items rosa">
          <img class="carrinho" src="https://i.pinimg.com/favicons/044bbc186193a9f069ebb3d1c4b8c2009778494504af6e4c52763fe2.png?b2ec44314e6e1201dd5d8102b251ee50" />
        </a>
      </li>
    </div>
  </div>
</nav>
