<%- include('components/head', {title: 'Empório do Laser - Fechar Compra'}) %> <%- include('components/navbar') %>
<br><br><br>
<section class="corpo flex-fill">
  
  <div class="container">
    <h1 class="text-white">Confira os Itens</h1>
    <h4 class="text-white">Confira os itens e clique em <b>Continuar</b> para prosseguir para a <b>seleção do endereço de entrega</b>.</h4>
    
    <ul class="list-group mp-3">

      <li class="list-group-item py-3">
        <div class="row g3">
          <div class="col-4 col-md-3 col-lg-2">
            <a href="#">
              <img src="/img/cake2.jpg" class="img-thumbnail">
            </a>          
          </div>
          <div class="col-8 col-md-9 col-lg-7 col-xl-8 text-left align-self-center">
            <h4><b><a href="#" class="text-decoration-none text-danger">Cakeboard Quadrado</a></b></h4>
            <h5>
              <small>Cakeboard em MDF - Quadrado</small>
            </h5>
            <br>
            <b>
              4 unidade(s) <br>
              R$ 20,00
            </b>
          </div>
          
        </div>
      </li>

      <li class="list-group-item py-3">
        <div class="row g3">
          <div class="col-4 col-md-3 col-lg-2">
            <a href="#">
              <img src="/img/topo1.png" class="img-thumbnail">
            </a>          
          </div>
          <div class="col-8 col-md-9 col-lg-7 col-xl-8 text-left align-self-center">
            <h4><b><a href="#" class="text-decoration-none text-danger">Topo Aloha</a></b></h4>
            <h5>
              <small>Topo bolo Aloha</small>
            </h5>
            <br>
            <b>
              4 unidade(s) <br>
              R$ 20,00
            </b>
          </div>
          
        </div>
      </li>

      <li class="list-group-item py-3">
        <div class="text-end">
          <h4 class="text-dark mb-3">Valor Total: R$ 40,00</h4>
          <a href="/carrinho" class="btn btn-outline-success btn-lg">Voltar ao Carrinho</a>
          <a href="#" class="btn btn-danger btn-lg">Continuar</a>
        </div>
      </li>

    </ul>
  </div>
</section>
  
<%- include('components/foot') %>
  