<%- include('components/head', {title: 'Emp칩rio do Laser'}) %> <%- include('components/navbar') %>

<section>
  <h2 class="text-center my-5 rosa">Cakeboards</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center">
          <div class="card" style="width: 18rem">
            <img src="/img/cake1.png" class="card-img-top" alt="cakeboard" />
            <div class="card-body">
              <h5 class="card-title">Cakeboards redondos</h5>
              <p class="card-text">Veja os nossos cakeboards</p>
              <a href="#" class="btn btn-primary">Visitar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center">
          <div class="card" style="width: 18rem">
            <img src="/img/cake2.png" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Cakeboards quadrados</h5>
              <p class="card-text">Veja mais detalhes.</p>
              <a href="#" class="btn btn-primary">Visitar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <h2 class="text-center my-5 rosa">Caixas Cen치rio</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center">
          <div class="card align-items-center justify-content-center" style="width: 18rem">
            <img src="/img/caixa1.png" class="card-img-top" alt="cakeboard" />
            <div class="card-body">
              <h5 class="card-title">Caixas Personaliz치veis</h5>
              <p class="card-text">Veja as nossas caixas</p>
              <a href="#" class="btn btn-primary">Visitar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center">
          <div class="card align-items-center justify-content-center" style="width: 18rem">
            <div>
              <img src="/img/caixa2.png" class="card-img-top" alt="cakeboard" />
              <div class="card-body">
                <h5 class="card-title">Caixas Personaliz치veis</h5>
                <p class="card-text">Veja as nossas caixas</p>
                <a href="#" class="btn btn-primary">Visitar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <h2 class="text-center my-5 rosa">Topos de Bolo</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center">
          <div class="card align-items-center justify-content-center" style="width: 18rem">
            <img src="/img/topo1.png" class="card-img-top" alt="cakeboard" />
            <div class="card-body">
              <h5 class="card-title">Topos de Bolo</h5>
              <p class="card-text">Veja os nossos topos</p>
              <a href="#" class="btn btn-primary">Visitar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center">
          <div class="card align-items-center justify-content-center" style="width: 18rem">
            <img src="/img/topo2.png" class="card-img-top" alt="cakeboard" />
            <div class="card-body">
              <h5 class="card-title">Topos de Bolo</h5>
              <p class="card-text">Veja os nossos topos</p>
              <a href="#" class="btn btn-primary">Visitar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('components/foot') %>
