<%- include('components/head') %> <%- include('components/navbar') %>

<div class="corpo">
  <section>
    <h2 class="text-center my-5 rosa">Cakeboards</h2>
    <div class="container">
      <div class="row">
        <div class="col-md-6 my-2 align-items-center justify-content-center">
          <div class="d-flex align-items-center justify-content-center h-100">
            <div class="card" style="width: 18rem; height: 100%">
              <img src="/img/cake1.jpg" class="card-img-top h-50" alt="cakeboard" />
              <div class="card-body d-flex flex-column justify-content-center">
                <h5 class="card-title">Cakeboards redondos</h5>
                <p class="card-text">Veja os nossos cakeboards</p>
                <a href="produtos?categoriaId=1" class="btn btn-primary">Visitar</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 my-2 align-items-center justify-content-center">
          <div class="d-flex align-items-center justify-content-center h-100">
            <div class="card" style="width: 18rem; height: 100%">
              <img src="/img/cake2.jpg" class="card-img-top h-50" alt="..." />
              <div class="card-body d-flex flex-column justify-content-center">
                <h5 class="card-title">Cakeboards quadrados</h5>
                <p class="card-text">Veja mais detalhes.</p>
                <a href="produtos?categoriaId=1" class="btn btn-primary">Visitar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2 class="text-center my-5 rosa">Caixas Cenário</h2>
    <div class="container">
      <div class="row">
        <div class="col-md-6 my-2 align-items-center justify-content-center">
          <div class="d-flex align-items-center justify-content-center h-100">
            <div class="card align-items-center justify-content-center" style="width: 18rem; height: 100%">
              <img src="/img/caixa1.jpg" class="card-img-top h-50" alt="cakeboard" />
              <div class="card-body d-flex flex-column justify-content-center">
                <h5 class="card-title">Caixas Personalizáveis</h5>
                <p class="card-text">Veja as nossas caixas</p>
                <a href="produtos?categoriaId=3" class="btn btn-primary">Visitar</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 my-2 align-items-center justify-content-center">
          <div class="d-flex align-items-center justify-content-center h-100">
            <div class="card align-items-center justify-content-center" style="width: 18rem; height: 100%">
              <img src="/img/caixa2.jpg" class="card-img-top h-50" alt="cakeboard" />
              <div class="card-body d-flex flex-column justify-content-center">
                <h5 class="card-title">Caixas Personalizáveis</h5>
                <p class="card-text">Veja as nossas caixas</p>
                <a href="produtos?categoriaId=3" class="btn btn-primary">Visitar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2 class="text-center my-5 rosa">Topos de Bolo</h2>
    <div class="container">
      <div class="row">
        <div class="col-md-6 my-2 align-items-center justify-content-center">
          <div class="d-flex align-items-center justify-content-center h-100">
            <div class="card align-items-center justify-content-center" style="width: 18rem; height: 100%">
              <img src="/img/topo1.jpg" class="card-img-top h-50" alt="cakeboard" />
              <div class="card-body d-flex flex-column justify-content-center w-100">
                <h5 class="card-title">Topos de Bolo</h5>
                <p class="card-text">Veja os nossos topos</p>
                <a href="produtos?categoriaId=2" class="btn btn-primary">Visitar</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 my-2 align-items-center justify-content-center">
          <div class="d-flex align-items-center justify-content-center h-100">
            <div class="card align-items-center justify-content-center" style="width: 18rem; height: 100%">
              <img src="/img/botao1.jpg" class="card-img-top h-50" alt="botao" />
              <div class="card-body d-flex flex-column justify-content-center">
                <h5 class="card-title">Botões</h5>
                <p class="card-text">Veja os nossos botões personalizados</p>
                <a href="produtos" class="btn btn-primary">Visitar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<%- include('components/foot') %>
