<%- include('components/head') %> <%- include('components/navbar') %>
<script src="/js/cadastro.js" defer></script>

<div class="corpo">
  <div class="container mt-5 max-width-test">
    <ul class="nav nav-tabs" id="loginTab" role="tablist">
      <li class="nav-item">
        <button class="nav-link active" id="login-tab" data-bs-toggle="tab" aria-current="page" href="#" data-bs-target="#login" type="button" role="tab" aria-controls="login" aria-selected="true">
          Login
        </button>
      </li>
      <li class="nav-item">
        <button class="nav-link" id="cadastrar-tab" data-bs-toggle="tab" data-bs-target="#cadastrar" type="button" role="tab" aria-controls="cadastrar" aria-selected="false">Cadastrar</button>
      </li>
    </ul>

    <div class="tab-content" role="tabContent">
      <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
        <h2 class="text-white my-3">Login</h2>
        <form method="POST" action="http://localhost:3000/login">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
              <i class="bi bi-envelope"></i>
            </span>
            <input type="email" name="email" class="form-control" placeholder="E-mail" required />
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
              <i class="bi bi-lock"></i>
            </span>
            <input type="password" name="senha" class="form-control" placeholder="Senha" required />
          </div>

          <div class="form-check my-2 text-white">
            <input class="form-check-input" type="checkbox" name="manterLogado" id="manterLogado" />
            <label class="form-check-label" for="manterLogado">Manter logado?</label><br />
          </div>

          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>

      <div class="tab-pane fade" id="cadastrar" role="tabpanel" aria-labelledby="cadastrar-tab">
        <h2 class="text-white my-3">Cadastrar</h2>
        <form method="POST" action="http://localhost:3000/cadastrar" data-toggle="validator">
          <div class="form-group mb-3 text-white">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="pfOuPj" id="inlineRadio1" value="pf" required />
              <label class="form-check-label" for="inlineRadio1">Pessoa Física</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="pfOuPj" id="inlineRadio2" value="pj" required />
              <label class="form-check-label" for="inlineRadio2">Pessoa Jurídica</label>
            </div>
            <div class="help-block with-errors"></div>
          </div>

          <div id="form-cadastro" class="visually-hidden">
            <div class="form-group">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">
                  <i class="bi bi-person-circle"></i>
                </span>
                <input required class="form-control" type="text" name="nome" placeholder="Nome Completo/Razão Social" />
              </div>
            </div>

            <div class="form-group">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">
                  <i class="bi bi-envelope"></i>
                </span>
                <input required class="form-control" type="email" name="email" placeholder="E-mail" data-remote="http://localhost:3000/validar-email" />
              </div>
              <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">
                  <i class="bi bi-lock"></i>
                </span>
                <input required class="form-control" type="password" name="senha" id="senha" placeholder="Senha" minlength="6" />
              </div>
              <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">
                  <i class="bi bi-lock"></i>
                </span>
                <input
                  required
                  class="form-control"
                  type="password"
                  name="confirmarSenha"
                  id="confirmarSenha"
                  placeholder="Confirmar Senha"
                  data-match="#senha"
                  data-match-error="Atenção! As senhas não estão iguais."
                />
              </div>
              <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">
                  <i class="bi bi-file-person"></i>
                </span>
                <input
                  required
                  class="form-control"
                  type="text"
                  name="cpfCNPJ"
                  placeholder="CPF/CNPJ"
                  id="cpfCNPJ"
                  minlength="14"
                  maxlength="18"
                  data-remote="http://localhost:3000/validar-cpf-cnpj-unico"
                />
              </div>
              <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">
                  <i class="bi bi-phone"></i>
                </span>
                <input required class="form-control phone_with_ddd" type="text" name="telefone" placeholder="Telefone" />
              </div>
              <div class="help-block with-errors"></div>
            </div>
            <button class="btn btn-primary" type="submit">Cadastrar</button>
          </div>
        </form>
      </div>
      <%- include('components/error-alert', {error}) %>
    </div>
  </div>
</div>

<%- include('components/foot') %>
