<%- include('components/head', {title: 'Empório do Laser - Minha Conta'}) %> <%- include('components/navbar') %>

<section>
  <div class="corpo container-fluid text-branco">
    <div class="row g-1">

      <%- include('components/minha-conta/lateral-menu') %>

      <div class="col-sm px-3">

        <h4>Bem-Vindo(a)</h4>      
        <hr class="mb-4">

        <!-- CODIGO AQUI -->


        <!-- FIM DO CODIGO -->
      </div>
    </div>
  </div>
</section>

<%- include('components/foot') %>