<%- include('components/head', {title: 'Empório do Laser - Minha Conta'}) %> <%- include('components/navbar') %>

<div class="corpo">
  <section>
    <h1>Estou logado</h1>
  </section>
</div>

<%- include('components/foot') %>
