<%- include('components/head', {title: 'Empório do Laser - Minha Conta'}) %> <%- include('components/navbar') %>

<div class="corpo">
  <section>
    
    <link href="/css/menu-minha-conta/menu-minha-conta.css" rel="stylesheet" />
    <%- include('components/minha-conta/lateral-menu') %>
    
    <div class="bem-vindo">
      <ul class="bem-vindo-title"><strong>Bem-Vindo(a)</strong></ul>
    </div>

  </section>
</div>

<%- include('components/foot') %>