<style>

  .bs-pedidos,
  .bs-creditos,
  .bs-email,
  .bs-senha,
  .bs-dados,
  .bs-enderecos,
  .bs-cartoes  
  {
    border: 1px solid #e5e5e5;
    color: #999;
  } 

  .bs-pedidos:hover {
    color: #999;
  }
  .bs-creditos:hover {
    color: #999;
  }
  .bs-email:hover {
    color: #999;
  }
  .bs-senha:hover {
    color: #999;
  }
  .bs-dados:hover {
    color: #999;
  }
  .bs-enderecos:hover {
    color: #999;
  }
  .bs-cartoes:hover {
    color: #999;
  }
  
</style>

<%- include('components/head', {title: 'Empório do Laser - Minha Conta'}) %> <%- include('components/navbar') %>

<div class="corpo">
  <section>
    
    <%- include('components/minha-conta/lateral-menu') %>
    
    <div class="bem-vindo">
      <ul class="bem-vindo-title"><strong>Bem-Vindo(a)</strong></ul>
    </div>

  </section>
</div>

<%- include('components/foot') %>