<%- include('components/head', {title: 'Empório do Laser - Minha Conta'}) %> <%- include('components/navbar') %>

<section class="corpo">
  <h1>Estou logado</h1>
</section>

<%- include('components/foot') %>
