<%- include('components/head', {title: 'Empório do Laser - Contato/SAC'}) %> <%- include('components/navbar') %>

<div class="corpo">
  <section>
    <div class="content-center">
      <div class="container">
        <h1 class="font-size-25 rosa margin-bottom-20px">Entre em contato conosco para dúvidas e orçamentos!</h1>
        <form class="form-sac" method="" action="">
          <input class="field espacamento" type="text" name="name" placeholder="  Nome" aria-label="text" />
          <input class="field espacamento" type="email" name="email" placeholder="  E-mail" aria-label="email" />
          <textarea class="field espacamento contato-assunto" type="field" name="message" placeholder="  Assunto" aria-label="text"></textarea>
          <button class="btn-sac espacamento" type="submit">Enviar</button>
        </form>
      </div>
    </div>
  </section>  
</div>

<%- include('components/foot') %>
