:root {
  --primaria: #194351;
  --secundaria: #fac2b3;
}

body {
  background-color: var(--primaria);
}

.rosa {
  color: var(--secundaria);
}

.logo {
  width: 75px;
  height: 70px;
}

.carrinho {
  width: 50px;
  height: 50px;
}

.footer {
  width: 100%;
  position: relative;
  bottom: 0;
  background-color: #fcfcfc;
  color: var(--primaria);
}

/* Font Size */

.font-size-17 {
  font-size: 17px;
}

.font-size-25{
  font-size: 25px;
}

/* --------- */

/* Style do Contato */

.start-margin {
  margin-top: 100px;
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contato-sac{
  width: 100%;
  max-width: 400px;

}

.form-sac {
  display: flex;
  flex-direction: column;
}

.field {
  border-radius: 4px;
  border: 1px grey solid;
  padding: 5px;
}

.espacamento {
  margin: 10px;
}

.contato-assunto {
  height: 100px;
}

.btn-sac{
  color: #fac2b3;
  border-radius: 4px;
  border:grey 1px solid;
  height: 35px;
  background-color: #194351;
  transition: 10s;
}

.btn-sac:hover {
  background-color: #fac2b3;
  color: #194351;
  border:grey 1px solid;
}
/* fim do style do contato */

/* Sobre nós */

.conteudo {
  width: 100%; 
  max-width: 50%;
}

/* Fim sobre nós */

@media (max-width: 830px){
  
  .contato-sac{
    width: 100%;
    max-width: 50%;
  }

}