:root {
  --primaria: #194351;
  --secundaria: #fac2b3;
}

body {
  background-color: var(--primaria);
}

.rosa {
  color: var(--secundaria);
}

.logo {
  width: 75px;
  height: 70px;
}

.carrinho {
  width: 50px;
  height: 50px;
}

.footer {
  width: 100%;
  position: relative;
  bottom: 0;
  background-color: #fcfcfc;
  color: var(--primaria);
}
