<%- include('../components/head', {title: 'Minha Conta: Admnistrador'}) %> <%- include('../components/navbar') %> <% const ehPF = USUARIO.Cliente.ehPessoaFisica; %>
<div class="corpo">
  <section>
    <%- include('../components/minha-conta/lateral-menu-admin') %>

  </section>

<%- include('../components/foot') %>
