<%- include('../components/head', {title: 'Minha Conta: Admnistrador'}) %> <%- include('../components/navbar') %> <% const ehPF = USUARIO.Cliente.ehPessoaFisica; %>

<section>
  <div class="corpo">
    <div class="page-grid">
      
      <nav>
        <%- include('../components/minha-conta/lateral-menu-admin') %>
      </nav>

      <div class="container-conteudo">

        <ul class="cadastro-title">
          <strong>Administração</strong>
        </ul>     

        <!-- CONTEUDO DA PAGINA AQUI -->

      </div>

    </div>   
  </div>
</section>

<%- include('../components/foot') %>
