<%- include('../components/head') %> <%- include('../components/navbar') %>

<section>
  <div class="corpo container-fluid text-branco">
    <div class="row g-1">
      <%- include('../components/lateral-menu') %>

      <div class="col-sm px-3">
        <h4>Cupons</h4>
        <hr class="mb-4" />

        <!-- CODIGO AQUI -->
        <div class="row g-3 max-width-610p">
          <div class="col-sm-12">
            <div class="list-group">
              <div class="list-group-item list-group-item-action" aria-current="true">
                <div class="row g-1">
                  <a href="/minha-conta/cadastrarcupons" class="col-sm-12 btn btn-primary">Cadastrar Cupom</a>
                </div>
              </div>

              <!-- for each -->
              <div class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">CLIENTE10</h5>
                </div>
                <div class="mb-3">
                <p class="mb-1">Porcentagem (N), Taxa de Desconto: R$ 10,00 </p> 
                <p class="mb-1">Data Expiração: 08/12/2021 - Categoria: Cakeboard</p>
                <small>Descrição: 10 reais de desconto na primeira compra - Status: Habilitado</small>
                </div>
                <div class="row">
                  <form class="col-sm-6" action="/minha-conta/editarcupons" method="get">
                    <!-- <input type="hidden" name="enderecoId" value="id" /> -->
                    <input type="submit" href="minha-conta/editarcupons" value="Editar" class="btn btn-primary btn-tabela" />
                  </form>

                  <form class="col-sm-6" action="#" method="post">
                    <input type="hidden" name="id" value="id" />
                    <input type="submit" value="Desabilitar/Habilitar" class="btn btn-primary btn-tabela" onClick="if(!(confirm('Deseja mesmo desativar este cupom?'))) return false" />
                  </form>
                </div>
              </div>
              <!-- fim for each -->
            </div>
          </div>
        </div>
        <!-- FIM DO CODIGO -->
      </div>
    </div>
  </div>
</section>

<%- include('../components/foot') %>
