<%- include('../components/head', {title: 'Minha Conta: Admnistrador'}) %> <%- include('../components/navbar') %> <% const ehPF = USUARIO.Cliente.ehPessoaFisica; %>

<section>
  <div class="corpo container-fluid text-branco">
    <div class="row g-1">
      <div class="col-sm-3 px-3 mb-4">

        <%- include('../components/minha-conta/lateral-menu-admin') %>
           
      </div>
      <div class="col-sm-9 px-3">

        <h4>Produtos</h4>      
        <hr class="mb-4">

        <!-- CODIGO AQUI -->


        <!-- FIM DO CODIGO -->
      </div>
    </div>
  </div>
</section>

<%- include('../components/foot') %>
