.bs-pedidos {
  border: 1px solid black;
  color: black;
}

.bs-pedidos:hover {
  color: black;
}

.bs-creditos,
.bs-email,
.bs-senha,
.bs-dados,
.bs-enderecos,
.bs-cartoes  
{
  border: 1px solid #e5e5e5;
  color: #999;
}

.bs-creditos:hover {
  color: #999;
}

.bs-email:hover {
  color: #999;
}

.bs-senha:hover {
  color: #999;
}

.bs-dados:hover {
  color: #999;
}

.bs-enderecos:hover {
  color: #999;
}

.bs-cartoes:hover {
  color: #999;
}