<%- include('../components/head', {title: 'Minha Conta: Cadastrar novo Endereço'}) %> <%- include('../components/navbar') %>

<section>
  <div class="corpo ">
    <div class="page-grid">
      
      <nav>
        <%- include('../components/minha-conta/lateral-menu') %>
      </nav>

      <div class="container-conteudo">

        <ul class="cadastro-title">
          <strong>Cadastrar Endereço</strong>
        </ul>     

        <!-- CONTEUDO DA PAGINA AQUI -->
        <form method="post" action="/usuarios/cadastrar-endereco">
          <input type="text" name="destinatario" placeholder="destinatario">
          <input type="text" name="rua" placeholder="rua">
          <input type="text" name="numero" placeholder="numero">
          <input type="text" name="complemento" placeholder="complemento">
          <input type="text" name="bairro" placeholder="bairro">
          <input type="text" name="cidade" placeholder="cidade">
          <input type="text" name="estado" placeholder="estado">
          <input type="text" name="cep" placeholder="cep">
          <button type="submit">Gravar</button>
        </form>

      </div>

    </div>
  </div>
</section>

<%- include('../components/foot') %>







<!-- <form action="" method="post" class="container-conteudo" data-toggle="validator"></form> -->