<%- include('../components/head', {title: 'Minha Conta: Cadastrar novo Endereço'}) %> <%- include('../components/navbar') %>

<section>
  <div class="corpo ">
    <div class="page-grid">
      
      <nav>
        <%- include('../components/minha-conta/lateral-menu') %>
      </nav>

      <div class="container-conteudo">

        <ul class="cadastro-title">
          <strong>Cadastrar Endereço</strong>
        </ul>     

        <!-- CONTEUDO DA PAGINA AQUI -->

      </div>

    </div>
  </div>
</section>

<%- include('../components/foot') %>







<!-- <form action="" method="post" class="container-conteudo" data-toggle="validator"></form> -->