<%- include('../components/head', {title: 'Minha Conta: Cadastrar novo Endereço'}) %> <%- include('../components/navbar') %>

<div class="corpo">
  <section>

    <link href="/css/menu-minha-conta/menu-enderecos.css" rel="stylesheet" />
    <%- include('../components/minha-conta/lateral-menu') %>

    <div class="cadastro">
      <ul class="cadastro-title"><strong>Cadastrar Novo Endereço</strong></ul>
      <div class="componentes">
        <div class="caixa1">
          <p class="subtitulos espaco">Nome do Destinatário</p>
          <p class="subtitulos espaco esp-cep">CEP</p>
          <a href="https://buscacepinter.correios.com.br/app/endereco/index.php" class="subtitulos">Não sabe seu
            CEP?</a>
        </div>

        <div class="caixa2">
          <input type="text" name="nome" class="caixas margens" value="ex: José da Silva" />
          <input type="text" name="cep" class="caixas distancia" onkeypress="$(this).mask('00.000-00')" />
        </div>


        <div class="caixa1">
          <p class="subtitulos espaco">Número</p>
          <p class="subtitulos espaco esp-comp">Complemento</p>
        </div>


        <div class="caixa2">
          <input type="text" name="num" value="ex: 30" class="caixas" />
          <input type="text" name="complemento" value="ex: apartamento 100 - torre 4" class="caixas distancia" />
        </div>

        <div class="caixa1">
          <p class="subtitulos espaco">Referência</p>
        </div>

        <div class="caixa2">
          <input type="text" name="salvar-endereco" value="ex: Travessa da Avenida Nordestina" class="caixas" />
          <button type="submit" class="btn-gravar-dados">Salvar Endereço</button>
        </div>
      </div>
    </div>

  </section>
</div>

<%- include('../components/foot') %>
