<%- include('../components/head', {title: 'Minha Conta: Cartões'}) %> <%- include('../components/navbar') %>

<div class="corpo">
  <section>
 
    <link href="/css/menu-minha-conta/menu-cartoes.css" rel="stylesheet" />
    <%- include('../components/minha-conta/lateral-menu') %>
 
    <div class="cartao">
      <ul class="cartao-title"><strong>Cartão de Crédito</strong></ul>
    </div>
  
  </section>
</div>

<%- include('../components/foot') %>
