<%- include('../components/head', {title: 'Minha Conta: Creditos'}) %> <%- include('../components/navbar') %>


<style>

    .sideBar .box-filho{
      width: 250px;
      background-color: white;
  
    }
  
    .icon{
      background-color: transparent;
      color: white;
      border: 0;
      transition: all .3s ease-in-out;
      position: relative;
    }
  
    .icon:hover{
      top: -2px;
    }
  
  
  .filtroFilho{
    left: -300px;
  }
  
  
    .filtroTitle{
      font: bold;
      font-size: 25px;
      margin-left: 62px;
    }
  
    .minhaconta .sideBar .filtroPai {
      margin: 0;
      padding: 10px 0 0;
      border: none;
      font-size: 18px;
      color: white;
      font-weight: 600;
      line-height: 3;
  }
  
  .box{
      background: #f8f8f8;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 0;
      left: 0;
      padding: 11px;
      border-right: solid 1px #e5e5e5;
    
  }
  
  .btnLink {
    border: 0;
  }
  
  .minhaconta .sideBar .filtroFilho li .btnLink {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      padding: 15px 10px 15px 60px;
      border: 1px solid #e5e5e5;
      line-height: 20px;
      font-size: 13px;
      font-weight: 400;
      text-decoration: none;
      text-transform: none;
      color: #999;
  }
  
  .minhaconta .sideBar .filtroFilho li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      padding: 15px 10px 15px 60px;
      border: 1px solid #e5e5e5;
      line-height: 20px;
      font-size: 13px;
      font-weight: 400;
      text-decoration: none;
      text-transform: none;
      color: #999;
  }
  
  .minhaconta .sideBar .filtros ul {
      display:block;
      list-style: none;
  }
  
  .sideBar{
    width: 400px;
  }
  
  .box-filho:hover {
    background-color: rgb(245,245,245);
  }
  
  .center{
    width: 100%;
  }
  .meuspedidos{
    margin-left: 350px;
    margin-right: 10px;
    margin-top: -600px;
    height: 584px;
  
  }
  
  .pedidos-title{
    color: var(--secundaria);
    margin-left: -32px;
    font-size: 35px;
    font: bold;
   
  }
  .caixa{
    margin-top: 39px;
    display: inline-flex;
    width: 100%;
    text-align: center;
    color: #999;
  }

  .creditos{
  margin-left: 350px;
  margin-right: 10px;
  margin-top: -600px;
  height: 584px;

}

.creditos-title{
  color: white;
  font-size: 30px;
  font: bold;
  border-bottom: solid 1px white;
  padding: 0;
 
}

.caixa{
    margin-top: 45px;
    display: inline-flex;
    width: 100%;
    text-align: center;
    color: grey;
  }

  .minicaixas {
    background-color: rgb(245,245,245);
    width: 100%;
    height: 105px;
    padding: 3px;
    border: solid 1px var(--primaria);
  
  }

  
  .minicaixas-SALDO {
    background-color: rgb(245,245,245);
    width: 66.5%;
    height: 60px;
    padding: 3px;
    border: solid 1px var(--primaria);
  
  }

  .minicaixas-VALOR {
    background-color: rgb(245,245,245);
    width: 33.5%;
    height: 60px;
    padding: 3px;
    border: solid 1px var(--primaria);
  
  }

  .titles{
    color: black;
    font-size: 18px;
    font: bolder;
    border-bottom: solid 1px var(--primaria);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
  }
.conteudo{
    padding: 0;
    color: black;
}

.titles-saldo{
    font-size: 23px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
}

</style>

<div class="corpo">
    <section>
      <div class="content minhaconta">
        <div class="center">
            <div class="sideBar">
                <div class="filtros">
                    <div class="filtroTitle title text-light">
                        Minha Conta
                        <a href="#" id="mobile_menu">
                            <button class="icon" type="checkbox"><span class="bi-list"></button>
                        </a>
                    </div>
                    <ul id="menu-minha-conta">
                        <li class="filtroPai">
                          <ul class="filtroFilho">
                              Minhas Compras
                                <li>
                                    <a href="/minha-conta/pedidos" class="box-filho" title="Meus Pedidos">Meus Pedidos<i class="box bi-cart" style="font-size: 24px; line-height: 24px;"></i></a>
                                
                                </li>
                                <li>
                                    <a href="/minha-conta/creditos" class="box-filho" title="Meus Créditos">Meus Créditos<i class="box bi-cash-coin" style="font-size: 24px; line-height: 24px;"></i></a>
                                </li>
                            </ul>
                        </li>
                        <li class="filtroPai">
                          <ul class="filtroFilho">
                              Cadastro
                                <li>
                                    <a href="/minha-conta/email" class="box-filho" title="Alterar E-mail">Alterar E-mail<i class="box bi-at" style="font-size: 24px; line-height: 24px;"></i></a>
                                </li>
                                <li>
                                    <a href="/minha-conta/senha" class="box-filho" title="Alterar Senha">Alterar Senha<i class="box bi-key" style="font-size: 24px; line-height: 24px;"></i></a>
                                </li>
                                <li>
                                    <a href="/minha-conta/dados" class="box-filho" title="Meus Dados">Meus Dados<i class="box bi-person" style="font-size: 24px; line-height: 24px;"></i></a>
                                </li>
                                <li>
                                    <a href="/minha-conta/enderecos" class="box-filho" title="Meus Endereços">Meus Endereços<i class="box bi-geo-alt" style="font-size: 24px; line-height: 24px;"></i></a>
                                </li>
                                <li>
                                    <a href="/minha-conta/cartoes" class="box-filho" title="Meus Cartões">Meus Cartões<i class="box bi-credit-card-2-back" style="font-size: 24px; line-height: 24px;"></i></a>
                                </li>
                                <li>
                                  <form action="/logout" method="POST">
                                    <button type="submit" class="box-filho btnLink" title="Sair">Sair<i class="box bi-x-circle" style="font-size: 24px; line-height: 24px;"></i></button>
                                  </form>
                              </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
   
            
       </div>       
  </div>
  
  

  <div class="creditos">
    <ul class="creditos-title"><strong>Meus Créditos</strong></ul>
    <div class="caixa">    
        <div class="minicaixas">
          <ul class="titles"><strong>Data</strong></ul>
          <ul class="conteudo">14/10/2021</ul>
        </div> 
        <div class="minicaixas">
          <ul class="titles"><strong>Histórico</strong></ul>
          <ul class="conteudo">Erro de estoque</ul>
        </div>
        <div class="minicaixas">
          <ul class="titles"><strong>Valor</strong></ul>
          <ul class="conteudo">R$ 80,00</ul>
        </div>
      </div>

      <div class="caixa">    
        <div class="minicaixas-SALDO">
          <ul class="titles-saldo"><strong>SALDO</strong></ul>
        </div> 
        <div class="minicaixas-VALOR">
          <ul class="titles-saldo"><strong>R$ 80,00</strong></ul>
        </div>
      </div>
  
  </div>

  
  
    </div>
    </section>
</div>

<%- include('../components/foot') %>
