<%- include('../components/head', {title: 'Minha Conta: Creditos'}) %> <%- include('../components/navbar') %>

<div class="corpo">
  <section>

    <link href="/css/menu-minha-conta/menu-creditos.css" rel="stylesheet" />
    <%- include('../components/minha-conta/lateral-menu') %>

      <div class="creditos">
        <ul class="creditos-title"><strong>Meus Créditos</strong></ul>

        <div class="caixa">
          <div class="caixaindividual">
            <div class="minicaixas">
              <ul class="titles"><strong>Data</strong></ul>
              <ul class="conteudo">14/10/2021</ul>
            </div>
            <div class="minicaixas">
              <ul class="titles"><strong>Histórico</strong></ul>
              <ul class="conteudo">Erro de estoque</ul>
            </div>
            <div class="minicaixas">
              <ul class="titles"><strong>Valor</strong></ul>
              <ul class="conteudo">R$ 80,00</ul>
            </div>
          </div>
        </div>

        <div class="caixa">
          <div class="caixaindividual">
            <div class="minicaixas-SALDO">
              <ul class="titles-saldo"><strong>SALDO</strong></ul>
            </div>
            <div class="minicaixas-VALOR">
              <ul class="titles-saldo"><strong>R$ 80,00</strong></ul>
            </div>
          </div>
        </div>

      </div>

  </section>
</div>

<%- include('../components/foot') %>
