<%- include('../components/head', {title: 'Minha Conta: Creditos'}) %> <%- include('../components/navbar') %>

<style>

  .bs-creditos {
    border: 1px solid black;
    color: black;
  }

  .bs-creditos:hover {
    color: black;
  }

  .bs-pedidos,
  .bs-email,
  .bs-senha,
  .bs-dados,
  .bs-enderecos,
  .bs-cartoes  
  {
    border: 1px solid #e5e5e5;
    color: #999;
  } 


  .bs-pedidos:hover {
    color: #999;
  }
  .bs-email:hover {
    color: #999;
  }
  .bs-senha:hover {
    color: #999;
  }
  .bs-dados:hover {
    color: #999;
  }
  .bs-enderecos:hover {
    color: #999;
  }
  .bs-cartoes:hover {
    color: #999;
  }

  .caixa {
    margin-top: 39px;
    display: inline-flex;
    width: 100%;
    text-align: center;
    color: #999;
  }

  .creditos {
    margin-left: 350px;
    margin-right: 10px;
    margin-top: -600px;
    height: 584px;

  }

  .creditos-title {
    color: white;
    font-size: 30px;
    font: bold;
    border-bottom: solid 1px white;
    padding: 0;

  }

  .caixa {
    margin-top: 45px;
    display: inline-flex;
    width: 100%;
    text-align: center;
    color: grey;
  }

  .minicaixas {
    background-color: transparent;
    width: 100%;
    height: 105px;
    padding: 3px;
    border: solid 1px var(--primaria);

  }


  .minicaixas-SALDO {
    background-color: transparent;
    width: 66.5%;
    height: 60px;
    padding: 3px;
    border: solid 1px var(--primaria);

  }

  .minicaixas-VALOR {
    background-color: transparent;
    width: 33.5%;
    height: 60px;
    padding: 3px;
    border: solid 1px var(--primaria);

  }

  .titles {
    color: var(--primaria);
    font-size: 18px;
    font: bolder;
    border-bottom: solid 1px var(--primaria);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
  }

  .conteudo {
    padding: 0;
    color: var(--primaria);
  }

  .titles-saldo {
    font-size: 23px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--primaria);
  }

  .caixaindividual {
    background-color: white;
    display: inline-flex;
    width: 100%;
    border-radius: 10px;
  }
</style>

<div class="corpo">
  <section>

    <%- include('../components/minha-conta/lateral-menu') %>

      <div class="creditos">
        <ul class="creditos-title"><strong>Meus Créditos</strong></ul>

        <div class="caixa">
          <div class="caixaindividual">
            <div class="minicaixas">
              <ul class="titles"><strong>Data</strong></ul>
              <ul class="conteudo">14/10/2021</ul>
            </div>
            <div class="minicaixas">
              <ul class="titles"><strong>Histórico</strong></ul>
              <ul class="conteudo">Erro de estoque</ul>
            </div>
            <div class="minicaixas">
              <ul class="titles"><strong>Valor</strong></ul>
              <ul class="conteudo">R$ 80,00</ul>
            </div>
          </div>
        </div>

        <div class="caixa">
          <div class="caixaindividual">
            <div class="minicaixas-SALDO">
              <ul class="titles-saldo"><strong>SALDO</strong></ul>
            </div>
            <div class="minicaixas-VALOR">
              <ul class="titles-saldo"><strong>R$ 80,00</strong></ul>
            </div>
          </div>
        </div>

      </div>

  </section>
</div>

<%- include('../components/foot') %>
