<%- include('../components/head', {title: 'Minha Conta: Dados'}) %> <%- include('../components/navbar') %>

<div class="corpo">
  <section>

    <link href="/css/menu-minha-conta/menu-dados.css" rel="stylesheet" />
    <%- include('../components/minha-conta/lateral-menu') %>

    <div class="email">
      <ul class="email-title"><strong>Meus Dados</strong></ul>
      <div class="componentes">
        <div class="caixa1">
          <p class="subtitulos espaco">Nome Completo</p>
          <p class="subtitulos espaco">Gênero</p>
        </div>

        <div class="caixa2">
          <input type="text" name="nome" class="caixa-senha magin-senha" />
          <input type="radio" name="sex" class="btnradio1" /><b class="btnradio">F</b>
          <input type="radio" name="sex" class="btnradio" /><b class="btnradio">M</b>
        </div>

        <div class="caixa1">
          <p class="subtitulos espaco">CPF</p>
          <p class="subtitulos espaco esp-rg">RG</p>
        </div>

        <div class="caixa2">
          <input type="text" name="cpf" class="caixa-senha" onkeypress="$(this).mask('000.000.000-00')" />
          <input type="number" name="rg" class="caixa-senha distancia" />
        </div>

        <div class="caixa1">
          <p class="subtitulos espaco">Telefone Principal</p>
          <p class="subtitulos espaco esp-tel">Telefone Secundário</p>
        </div>

        <div class="caixa2">
          <input type="tel" name="telefone" class="caixa-senha" />
          <input type="tel" name="telefone2" class="caixa-senha distancia" />
        </div>

        <div class="caixa1">
          <p class="subtitulos espaco">Data de Nascimento</p>
        </div>

        <div class="caixa2">
          <input type="date" name="birthday" class="caixa-senha" />
          <button type="submit" class="btn-gravar-dados">Salvar Dados</button>
        </div>
      </div>
    </div>
    
  </section>
</div>

<%- include('../components/foot') %>
