<%- include('../components/head', {title: 'Minha Conta: Editar Endereço'}) %> <%- include('../components/navbar') %>


<style>

    .sideBar .box-filho{
      width: 250px;
      background-color: white;
  
    }
  
    .icon{
      background-color: transparent;
      color: white;
      border: 0;
      transition: all .3s ease-in-out;
      position: relative;
    }
  
    .icon:hover{
      top: -2px;
    }
  
  
  .filtroFilho{
    left: -300px;
  }
  
  
    .filtroTitle{
      font: bold;
      font-size: 25px;
      margin-left: 62px;
    }
  
    .minhaconta .sideBar .filtroPai {
      margin: 0;
      padding: 10px 0 0;
      border: none;
      font-size: 18px;
      color: white;
      font-weight: 600;
      line-height: 3;
  }
  
  .box{
      background: #f8f8f8;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 0;
      left: 0;
      padding: 11px;
      border-right: solid 1px #e5e5e5;
    
  }
  
  .btnLink {
    border: 0;
  }
  
  .minhaconta .sideBar .filtroFilho li .btnLink {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      padding: 15px 10px 15px 60px;
      border: 1px solid #e5e5e5;
      line-height: 20px;
      font-size: 13px;
      font-weight: 400;
      text-decoration: none;
      text-transform: none;
      color: #999;
  }
  
  .minhaconta .sideBar .filtroFilho li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      padding: 15px 10px 15px 60px;
      border: 1px solid #e5e5e5;
      line-height: 20px;
      font-size: 13px;
      font-weight: 400;
      text-decoration: none;
      text-transform: none;
      color: #999;
  }
  
  .minhaconta .sideBar .filtros ul {
      display:block;
      list-style: none;
  }
  
  .sideBar{
    width: 400px;
  }
  
  .box-filho:hover {
    background-color: rgb(245,245,245);
  }
  
  .center{
    width: 100%;
  }
  .meuspedidos{
    margin-left: 350px;
    margin-right: 10px;
    margin-top: -600px;
    height: 584px;
  
  }
  
  .pedidos-title{
    color: var(--secundaria);
    margin-left: -32px;
    font-size: 35px;
    font: bold;
   
  }
  .caixa{
    margin-top: 39px;
    display: inline-flex;
    width: 100%;
    text-align: center;
    color: #999;
  }

  .cadastro{
  margin-left: 350px;
  margin-right: 10px;
  margin-top: -600px;
  height: 584px;

}

.cadastro-title{
  color: white;
  font-size: 30px;
  font: bold;
  border-bottom: solid 1px white;
  padding: 0;
 
}

.caixa{
    margin-top: 39px;
    display: inline-flex;
    width: 100%;
    text-align: center;
    color: #999;
  }

  .senha{
  margin-left: 350px;
  margin-right: 10px;
  margin-top: -600px;
  height: 584px;

}


.subtitulos{
  margin-top: 20px;
  font-size: 20px;
  color: white;
}

.caixas{
   width: 400px;
   height: 40px;
   border-radius: 5px;
   border: solid 1px lightgray;
   padding-left: 15px;
}

.btn-gravar {
  color: white;
  border: 0;
  border-radius: 5px;
  height: 40px;
  width: 400px;
  margin-left: 40px;
  background-color: rgb(13,110,253);
}

.btn-gravar:hover {
  background-color: rgb(11, 94, 215);
  color: white;
  border: 0;
}

.caixa1 {
display: inline-flex;
margin-top: 5px;
/* margin-bottom: 8px; */
margin-right: 30px;
}



.espaco{
  margin-right: 260px;
}

.btnradio1{
  margin-left: 40px; 
}

.btnradio{
  color: white;
  margin-right: 5px;
  margin-left: 10px;
  font-size: 22px;
}

.esp-cep{
  margin-left: -10px;
  margin-right: 145px;
}

.esp-comp{
  margin-left: 113px;
}

.distancia{
  margin-left: 40px;
}

.caixa{
    margin-left: 150px;
    margin-top: 10px;
    background-color: white;
    width: 40%;
    height: 200px;
    text-align: left;
    background-color: white;
    border-radius: 10px;
    display: inline-block;
}

.nome{
    padding-left: 200px;
    font-size: 25px;
    padding-top: 5px;
    margin-bottom: 4px;
    color: var(--primaria);
  }

  .titles{
    color: var(--primaria);
    font-size: 15px;
    font: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 0;
    height: 10px;
  }

.componentes{
  margin-top: -19px;
}

  </style>

<div class="corpo">
    <section>
      <div class="content minhaconta">
        <div class="center">
            <div class="sideBar">
                <div class="filtros">
                    <div class="filtroTitle title text-light">
                        Minha Conta
                        <a href="#" id="mobile_menu">
                            <button class="icon" type="checkbox"><span class="bi-list"></button>
                        </a>
                    </div>
                    <ul id="menu-minha-conta">
                        <li class="filtroPai">
                          <ul class="filtroFilho">
                              Minhas Compras
                                <li>
                                    <a href="/minha-conta/pedidos" class="box-filho" title="Meus Pedidos">Meus Pedidos<i class="box bi-cart" style="font-size: 24px; line-height: 24px;"></i></a>
                                
                                </li>
                                <li>
                                    <a href="/minha-conta/creditos" class="box-filho" title="Meus Créditos">Meus Créditos<i class="box bi-cash-coin" style="font-size: 24px; line-height: 24px;"></i></a>
                                </li>
                            </ul>
                        </li>
                        <li class="filtroPai">
                          <ul class="filtroFilho">
                              Cadastro
                                <li>
                                    <a href="/minha-conta/email" class="box-filho" title="Alterar E-mail">Alterar E-mail<i class="box bi-at" style="font-size: 24px; line-height: 24px;"></i></a>
                                </li>
                                <li>
                                    <a href="/minha-conta/senha" class="box-filho" title="Alterar Senha">Alterar Senha<i class="box bi-key" style="font-size: 24px; line-height: 24px;"></i></a>
                                </li>
                                <li>
                                    <a href="/minha-conta/dados" class="box-filho" title="Meus Dados">Meus Dados<i class="box bi-person" style="font-size: 24px; line-height: 24px;"></i></a>
                                </li>
                                <li>
                                    <a href="/minha-conta/enderecos" class="box-filho" title="Meus Endereços">Meus Endereços<i class="box bi-geo-alt" style="font-size: 24px; line-height: 24px;"></i></a>
                                </li>
                                <li>
                                    <a href="/minha-conta/cartoes" class="box-filho" title="Meus Cartões">Meus Cartões<i class="box bi-credit-card-2-back" style="font-size: 24px; line-height: 24px;"></i></a>
                                </li>
                                <li>
                                  <form action="/logout" method="POST">
                                    <button type="submit" class="box-filho btnLink" title="Sair">Sair<i class="box bi-x-circle" style="font-size: 24px; line-height: 24px;"></i></button>
                                  </form>
                              </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
   
            
       </div>       
  </div>
  
  
  <div class="cadastro">
    <ul class="cadastro-title"><strong>Editar Endereço</strong></ul>
    <div class="componentes">
        <div class="caixa1">
        <p class="subtitulos espaco">Nome do Destinatário</p>
        <p class="subtitulos espaco esp-cep">CEP</p>
        <a href="https://buscacepinter.correios.com.br/app/endereco/index.php" class="subtitulos">Não sabe seu novo CEP?</a>
        </div>
        
        <div class="caixa2">
        <input type="text" name="nome" class="caixas margens"/>
        <input type="text" name="cep" class="caixas distancia" onkeypress="$(this).mask('00.000-00')"/>
        </div>
      

        <div class="caixa1">
        <p class="subtitulos espaco">Número</p>
        <p class="subtitulos espaco esp-comp">Complemento</p>
        </div>
      
      
      <div class="caixa2">
        <input type="text" name="num"class="caixas"/>
        <input type="text" name="complemento" class="caixas distancia"/>
      </div>

      <div class="caixa1">
        <p class="subtitulos espaco">Referência</p>
        </div>
      
      <div class="caixa2">
        <input type="text" name="salvar-endereco" class="caixas"/>
        <button type="submit" class="btn-gravar">Salvar Endereço</button>
      </div>    
  </div>  
  
  <div class="endereco">
    <div class="caixa">    
      <ul class="nome"><strong>José da Silva</strong></ul>
      <ul class="titles"><strong>Endereço: </strong>Rua Tibúrcio de Souza, 10</ul>
      <ul class="titles"><strong>Bairro: </strong>Itaim Paulista</ul>
      <ul class="titles"><strong>Cidade: </strong>São Paulo</ul>
      <ul class="titles"><strong>CEP: </strong>00000000</ul>
      
  </div>
</div>
  


    </section>
</div>

<%- include('../components/foot') %>
