<%- include('../components/head', {title: 'Minha Conta: Email'}) %> <%- include('../components/navbar') %>

<div class="corpo">
  <section>

    <link href="/css/menu-minha-conta/menu-email.css" rel="stylesheet" />
    <%- include('../components/minha-conta/lateral-menu') %> 

    <div class="email">
      <ul class="email-title"><strong>Alteração de E-mail</strong></ul>

      <div class="componentes">
        <p class="subtitulos">E-mail Atual</p>
        <div class="caixa-email-atual">
          <a>exemplo@gmail.com</a>
        </div>
        <p class="subtitulos">Digite e confirme o novo e-mail</p>
        <div class="novo-email">
          <input type="email" name="email" class="caixa-email" placeholder="Digite o novo e-mail" required />
          <input type="email" name="email" class="caixa-email" placeholder="Confirme o e-mail" required />
          <button type="submit" class="btn-gravar">Alterar</button>
        </div>
      </div>
    </div>

  </section>
</div>

<%- include('../components/foot') %>
