<%- include('../components/head', {title: 'Minha Conta: Endereços'}) %> <%- include('../components/navbar') %>

<style>

  .bs-enderecos {
    border: 1px solid black;
    color: black;
  }

  .bs-enderecos:hover {
    color: black;
  }

  .bs-pedidos,
  .bs-creditos,
  .bs-email,
  .bs-senha,
  .bs-dados,
  .bs-cartoes  
  {
    border: 1px solid #e5e5e5;
    color: #999;
  }
  
  .bs-pedidos:hover {
    color: #999;
  }
  .bs-creditos:hover {
    color: #999;
  }
  .bs-email:hover {
    color: #999;
  }
  .bs-senha:hover {
    color: #999;
  }
  .bs-dados:hover {
    color: #999;
  }
  .bs-cartoes:hover {
    color: #999;
  }

  .endereco {
    margin-left: 350px;
    margin-right: 10px;
    margin-top: -600px;
    height: 584px;

  }

  .endereco-title {
    color: white;
    font-size: 30px;
    font: bold;
    border-bottom: solid 1px white;
    padding: 0;

  }

  /* começe seu css aqui */

</style>

<div class="corpo">
  <section>

    <%- include('../components/minha-conta/lateral-menu') %> 

    <div class="endereco">
      <ul class="endereco-title"><strong>Meus Endereços</strong></ul>
      <div class="">
        <!-- seu codigo. Obs: definir a classe dessa div -->
      </div>
    </div>
    
  </section>
</div>

<%- include('../components/foot') %>
