<%- include('../components/head', {title: 'Minha Conta: Endereços'}) %> <%- include('../components/navbar') %>

<div class="corpo">
  <section>

    <link href="/css/menu-minha-conta/menu-enderecos.css" rel="stylesheet" />
    <%- include('../components/minha-conta/lateral-menu') %> 

    <div class="endereco">
      <ul class="endereco-title"><strong>Meus Endereços</strong></ul>
      <div class="">
        <!-- seu codigo. Obs: definir a classe dessa div -->
      </div>
    </div>
    
  </section>
</div>

<%- include('../components/foot') %>
