<%- include('../components/head', {title: 'Minha Conta: Pedidos'}) %> <%- include('../components/navbar') %>

<div class="corpo">
  <section>

    <link href="/css/menu-minha-conta/menu-pedidos.css" rel="stylesheet" />
    <%- include('../components/minha-conta/lateral-menu') %>

    <div class="meuspedidos">
      <ul class="pedidos-title"><strong>Meus Pedidos</strong></ul>
      <div class="caixa">
        <div class="caixaindividual">
          <div class="pedidos">
            <ul class="titles">Nº do Pedido</ul>
            <ul class="conteudo">123456789</ul>
          </div>
          <div class="pedidos">
            <ul class="titles">Pagamento</ul>
            <ul class="conteudo">Cartão</ul>
          </div>
          <div class="pedidos">
            <ul class="titles">Status</ul>
            <ul class="conteudo">Enviado</ul>
          </div>
          <div class="pedidos">
            <ul class="titles">Valor Total</ul>
            <ul class="conteudo">R$100,00</ul>
          </div>
          <div class="pedidos">
            <ul class="titles">Rastreamento</ul>
            <ul class="conteudo">EMP-283902183</ul>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>

<%- include('../components/foot') %>