<%- include('../components/head', {title}) %> <%- include('../components/navbar') %>

<section>
  <div class="corpo container-fluid text-branco">
    <div class="row g-1">
      <div class="col-sm-3 px-3 mb-4">

        <%- include('../components/minha-conta/lateral-menu') %>

      </div>
      <div class="col-sm-9 px-3">

        <h4>Meus Pedidos</h4>      
        <hr class="mb-4">

        <!-- CODIGO AQUI. OBS: Este trecho não é Responsivo -->
        <div class="caixa">
          <div class="caixaindividual">
            <div class="pedidos">
              <ul class="titles">
                Nº do Pedido
              </ul>
              <ul class="conteudo">
                123456789
              </ul>
            </div>
            <div class="pedidos">
              <ul class="titles">
                Pagamento
              </ul>
              <ul class="conteudo">
                Cartão
              </ul>
            </div>
            <div class="pedidos">
              <ul class="titles">
                Status
              </ul>
              <ul class="conteudo">
                Enviado
              </ul>
            </div>
            <div class="pedidos">
              <ul class="titles">
                Valor Total
              </ul>
              <ul class="conteudo">
                R$100,00
              </ul>
            </div>
            <div class="pedidos">
              <ul class="titles">
                Rastreamento
              </ul>
              <ul class="conteudo">
                EMP-283902183
              </ul>
            </div>
          </div>
        </div>

        <!-- FIM DO CODIGO -->
      </div>
    </div>
  </div>
</section>


<%- include('../components/foot') %>
