<%- include('../components/head', {title: 'Minha Conta: Senha'}) %> <%- include('../components/navbar') %>

<div class="corpo">
  <section>
    <%- include('../components/minha-conta/lateral-menu') %>

    <div class="senha">
      <ul class="senha-title">
        <strong>Alteração de Senha</strong>
      </ul>
      <div class="componentes">
        <div class="novo-email">
          <p class="subtitulos">Senha Atual</p>
          <input type="password" name="password" class="caixa-senha magin-senha" required />
          <p class="subtitulos">Digite e confirme a nova senha</p>
          <input type="password" name="password" class="caixa-senha" placeholder="Crie sua nova senha" required />
          <input type="password" name="password" class="caixa-senha" placeholder="Confirme a nova senha" required />
          <button type="submit" class="btn-gravar">Alterar</button>
        </div>
      </div>
    </div>
  </section>
</div>
<%- include('../components/foot') %>
