<%- include('../components/head', {title: 'Minha Conta: Senha'}) %> <%- include('../components/navbar') %>

<div class="corpo">
    <section>
        
    </section>
</div>

<%- include('../components/foot') %>
