<%- include('../components/head', {title: 'Empório do Laser'}) %> <%- include('../components/navbar') %>

<section class="corpo">
  <div class="content-center text-white">
    <div class="container">
      <h2 class="rosa margin-bottom-20px">Quem somos nós</h2>
      <div class="text-white">
        <p class="font-size-17">Uma família apaixonada pela arte de entender e criar novas possibilidades.</p>
        <p class="font-size-17">
          Os pais da casa com experiência de 25 anos na área de eventos, a filha confeiteira empreendedora com experiência de 9 anos e o filho um curioso pela vida e também não podemos esquecer dos
          "agregados".
        </p>
        <p class="font-size-17">
          Aqui ninguém tem uma única função porque o nosso propósito é um só: auxiliar uns aos outros para que seja possível entregar um resultado final satisfatório e acolhedor aos nossos clientes.
        </p>
        <p class="font-size-17">Nós somos a <strong>Empório do Laser</strong> e será um prazer te atender.</p>
      </div>
    </div>
  </div>
</section>

<%- include('../components/foot') %>
