<%- include('../components/head', {title: 'Empório do Laser'}) %> <%- include('../components/navbar') %>
<br><br><br><br><br>

<section>

    <div class="content-center rosa">
        <div class="conteudo">
            <h1>Quem somos nós</h1>
            <p class="font-size-20">Uma família apaixonada pela arte de entender e criar novas possibilidades</p>
            <p class="font-size-20">Os pais da casa com experiência de 25 anos na área de eventos, a filha confeiteira empreendedora com experiência de 9 anos e o filho um curioso pela vida e também não podemos esquecer dos "agregados".</p>
            <p class="font-size-20">Aqui ninguém tem uma única função porque o nosso propósito é um só: auxiliar uns aos outros para que seja possível entregar um resultado final satisfatório e acolhedor aos nossos clientes.</p>
        </div>
    </div>

</section>

<%- include('../components/foot') %>
