<%- include('../components/head', {title: 'Empório do Laser'}) %> <%- include('../components/navbar') %>

<br><br><br><br>

<section>


<center>   
<h1 class="title-sac">Entre em contato conosco para dúvidas e orçamentos!</h1>
<form class="contato-sac">
    <input class="contato-nome espacamento" type="text" placeholder="  Nome" aria-label="text" /><br>
    <input class="contato-email espacamento" type="email" placeholder="  E-mail" aria-label="email" /><br>
    <input class="contato-assunto espacamento" type="text" placeholder="  Assunto" aria-label="text" /><br>
    <button class="btn-sac" type="submit">Enviar</button>
</form>
</center>

</section>

<%- include('../components/foot') %>
