<%- include('../components/head', {title: 'Empório do Laser'}) %> <%- include('../components/navbar') %>
<br><br><br><br><br>

<section>

    <div class="content-center">
        <div class="contato-sac">
            <h1 class="font-size-25 rosa">Entre em contato conosco para dúvidas e orçamentos!</h1>
            <form class="form-sac" method="" action="">
                <input class="field espacamento" type="text" name="name" placeholder="  Nome" aria-label="text">
                <input class="field espacamento" type="email" name="email" placeholder="  E-mail" aria-label="email">
                <textarea class="field espacamento contato-assunto" type="field" name="message" placeholder="  Assunto" aria-label="text" ></textarea>
                <button class="btn-sac espacamento" type="submit">Enviar</button>
            </form>          
        </div>
    </div> 
      
</section>

<%- include('../components/foot') %>
